// Article-specific styles
@use "../base/utilities" as *;
@use '../base/mixins' as m;
@use '../base/variables' as v;

article {
  width: 100%;
  max-width: var(--max-width-main, 1200px);
  padding: 5rem 10%;
  margin: 0;
  flex-grow: 1;
  transition: all 0.3s ease-in-out;
  background: transparent;
  color: inherit;


  @media (max-width: 1024px) {
    padding: 0 3rem;
  }

  @media (max-width: 768px) {
    padding: 0.75rem;
  }

  @media (max-width: 480px) {
    padding: 0.5rem;
    &:hover {
      transform: none;
    }
  }
}

.container {
  display: grid; // Enable Grid layout
  place-items: center; // Center content both horizontally and vertically
  min-height: 100vh; // Full viewport height
  padding: 2rem; // Add padding for spacing around the content
}

.list-container {
  display: grid;
  align-items: start;
  box-sizing: border-box;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
  padding: 2rem 2rem 0 2rem;
  margin: 0;
  border: 0;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}

.list-title {
  margin: 0;
  padding-bottom: 1rem;    
  h1 {
    font-size: map-get(v.$header-font-sizes, h1);
    font-weight: 700;
    margin-bottom: 0.5rem;
  }
  
  h2 {
    font-size: map-get(v.$header-font-sizes, h2);
    font-weight: 500;
    color: #aaa;
  }

  h3 {
    font-size: map-get(v.$header-font-sizes, h3);
    font-weight: 500;
    color: #aaa;
  }

}

.list-content {
  
  p {
    margin-bottom: 1rem;
    font-size: v.$font-size-base;
    line-height: 1.6;
    color: v.$color-text;

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 3rem;

    }
  }
  border-bottom: 1px solid #aaa;
  padding-bottom: 1.5rem;
  margin-bottom: 0;

  @media (max-width: 768px) {
    padding-bottom: 1rem;
  }

}