@use '../base/functions' as f;
@use '../base/shared' as s;

.resume-container {
    box-sizing: border-box;
    overflow: visible;
    
}

#timeline-year {
    justify-content: flex-start;
    h2 {
        margin: 0;
    }

    @media (max-width: f.rem(768)) {
        text-align: left;
        align-items: flex-start;
        justify-content: flex-start;
        border-bottom: none !important;
    }
}

#timeline-role {
    a {
        display: block;
        @include s.link-styles;
    }

    p {
        margin-bottom: 2rem;
        
    }
    
}



