@use '../base/functions' as f;
@use '../base/shared' as s;

#timeline-year {
  @media (max-width: f.rem(768)) {
    border-bottom: none !important;
  }
}

#timeline-role {
  a {
    display: block;
    @include s.link-styles;
  }

  p {
    margin-bottom: 1rem;
  }
}
