@use '../base/functions' as f;
@use '../base/shared' as s;
@use '../base/variables' as v;
#timeline-year {
  @media (max-width: v.$breakpoint-mobile) {
    border-bottom: none !important;
  }
}

#timeline-role {
  a {
    display: block;
    text-decoration: none;
    @include s.link-styles;
  }

  p {
    margin-bottom: 1rem;
  }
}

/* Updated company-link using the link-styles mixin */
.company-link {
  @include s.link-styles;
}
