.main-container {
  display: grid;
  grid-template-columns: 1fr 2fr; // Two columns (1:2 ratio)
  gap: 2rem; // Space between columns
  max-width: 1200px;
  margin: 0; // Center align content
  padding: 2rem;
}

.profile {
  h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  h2 {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 1rem;
  }
}

.content {
  .timeline {
    margin-bottom: 2rem;

    h3 {
      font-size: 1rem;
      font-weight: bold;
      color: #50b7f5; // Blue for headings
      margin-bottom: 0.5rem;
    }

    p {
      margin: 0;
      color: #bbb; // Subtle gray for details
    }
  }

  .posts {
    margin-top: 2rem;

    ul {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 1rem;

        a {
          color: #ddd;
          &:hover {
            color: #50b7f5; // Blue on hover
          }
        }
      }
    }
  }
}
