// base/_variables.scss

//$color-primary: hsl(205.3, 65.35%, 66.9%); // #164669           
//$color-secondary: hsl(34.2, 100%, 59.41%); // #FFA630        
//$color-alternate: hsl(66.67, 3.7%, 47.65%); // #7d7e75         
$color-background: hsl(225, 98%, 4.24%); //#010b29       
$color-text: hsl(277.5, 100%, 98.43%); //#fcf7ff              
$color-link: hsl(277.94, 100%, 60%); //#B433FF;             
$color-link-hover: darken($color-link, 10%);       

$font-header: 'Garamond', 'Times New Roman', serif;
$font-body: 'Garamond', 'Times New Roman', serif;
//font-accent:

$font-size-large: 1.25rem;
$font-size-base: 16px; 
$font-size-small: 0.875rem;

$header-font-sizes: ( // Map for header sizes
  h1: 1.5rem,
  h2: 1.25rem,
  h3: 1.0rem,
);